.searchBox {
  outline-style: none;
  border-radius: 2rem;
  border-style: none;
  font-size: large;
  font-weight: 100 !important;
  text-align: center;
  padding: 0.5rem;
}

.searchBox:focus,
.searchBox:hover {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}
